[Unit]
Description=Project Zomboid Server Control Socket
BindsTo=zomboid.service
Before=zomboid.service

[Socket]
ListenFIFO={{ server_game_path }}/zomboid.control
FileDescriptorName=control
RemoveOnStop=true
SocketMode=0660
SocketUser={{ server_user }}
